fastapi
uvicorn
python-dotenv
numpy
langchain
langchain-community
langchain-google-genai
pinecone
tiktoken
twilio
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
requests
pydantic
python-multipart
jinja2
